body{
    background-color: rgb(2, 37, 67);
}

.titulo{
    padding: 20px;
    background-color: rgb(2, 37, 67);
    color: #ffffff;
}

.formulario{
    background-color: rgb(104, 142, 207);
    color: #ffffff;
}